apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      securityContext:
        fsGroup: 1000 # node group ID
        runAsUser: 1000 # node user ID
        runAsGroup: 1000 # node group ID

      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:2.29.0

          ports:
            - containerPort: 3005
              protocol: TCP

          envFrom:
            - configMapRef:
                name: audiobookshelf-configmap

          volumeMounts:
            - mountPath: /config
              name: audiobookshelf-config
            - mountPath: /metadata
              name: audiobookshelf-metadata
            - mountPath: /audiobooks
              name: audiobookshelf-audiobooks

          securityContext:
            allowPrivilegeEscalation: false
      
      restartPolicy: Always

      volumes:
        - name: audiobookshelf-config
          persistentVolumeClaim:
            claimName: config-storage-pvc
        - name: audiobookshelf-metadata
          persistentVolumeClaim:
            claimName: metadata-storage-pvc
        - name: audiobookshelf-audiobooks
          persistentVolumeClaim:
            claimName: audiobooks-storage-pvc
